body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.container{
    background-color: grey;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th,td{
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
th{
    cursor: pointer;
    background-color: #f2f2f2;
    text-decoration: underline;
}
input{
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}