body{
    background-color: #f4f1ec;
    color: black;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
.meny{
    display: flex;
    border: solid 2px black;
    background-color: #000000;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 6rem;
    box-sizing: border-box;
}
.meny a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    max-width: 50rem;
    margin: 5rem auto 0 auto;
}
.titel{
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
.intro p{
    margin-bottom: 1rem;
}
.lista{
    line-height: 1.6;
    text-align: left;
}
footer{
    border: solid 2px black;
    background-color: #000000;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 1rem;
}
.bildgalleri{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
    max-width: 70rem;
    margin: 5rem auto 0 auto;
}
.bildgalleri img{
    width: 100%;
    height: 15rem;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}
.process{
    max-width: 35rem;
    margin: 5rem auto 0 auto;
    padding: 2rem;
    line-height: 1.6;
}

.process h1{
    margin-bottom: 1rem;
}

.process h2{
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.process h3{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.process p{
    margin-bottom: 1rem;
}

.process ul{
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.meny.open{
    flex-direction: column;
    height: auto;
}

#meny-växling{
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.bild-kort img{
    cursor: pointer;
}
.bild-kort img.large{
    transform: scale(1.2);
    transition: transform 0.3s;
}


@media (max-width: 600px){
    .meny{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    .meny a{
        font-size: 1.5rem;

    }
}